-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'OPERATOR',
    "department" TEXT,
    "phone" TEXT,
    "avatarUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" DATETIME NOT NULL,
    CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "actionType" TEXT NOT NULL DEFAULT 'MANUAL',
    "isAutonomous" BOOLEAN NOT NULL DEFAULT false,
    "description" TEXT NOT NULL,
    "metadata" TEXT,
    "riskLevel" TEXT,
    "userId" TEXT,
    "siteId" TEXT,
    "prevHash" TEXT,
    "hash" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "AuditLog_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Site" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameAr" TEXT,
    "description" TEXT,
    "productionType" TEXT NOT NULL DEFAULT 'OIL_AND_GAS',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "riskLevel" TEXT NOT NULL DEFAULT 'LOW',
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "capacity" INTEGER NOT NULL DEFAULT 0,
    "currentOccupancy" INTEGER NOT NULL DEFAULT 0,
    "isLockedDown" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Permit" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "permitNumber" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "riskLevel" TEXT NOT NULL DEFAULT 'MEDIUM',
    "description" TEXT,
    "location" TEXT NOT NULL,
    "validFrom" DATETIME NOT NULL,
    "validUntil" DATETIME NOT NULL,
    "isAutoApproved" BOOLEAN NOT NULL DEFAULT false,
    "isAutoRevoked" BOOLEAN NOT NULL DEFAULT false,
    "revocationReason" TEXT,
    "contractorId" TEXT,
    "siteId" TEXT NOT NULL,
    "requesterId" TEXT NOT NULL,
    "approverId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Permit_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Permit_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Permit_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Permit_contractorId_fkey" FOREIGN KEY ("contractorId") REFERENCES "Contractor" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "PermitCondition" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "permitId" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "isMandatory" BOOLEAN NOT NULL DEFAULT true,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "verifiedAt" DATETIME,
    CONSTRAINT "PermitCondition_permitId_fkey" FOREIGN KEY ("permitId") REFERENCES "Permit" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Task" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL,
    "priority" TEXT NOT NULL DEFAULT 'MEDIUM',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "dueDate" DATETIME,
    "completedAt" DATETIME,
    "isAutoAssigned" BOOLEAN NOT NULL DEFAULT false,
    "siteId" TEXT,
    "assigneeId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Task_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Task_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "IoTDevice" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ONLINE',
    "location" TEXT,
    "unit" TEXT NOT NULL,
    "warningHigh" REAL,
    "criticalHigh" REAL,
    "warningLow" REAL,
    "criticalLow" REAL,
    "lastReadingAt" DATETIME,
    "siteId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "IoTDevice_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "SensorReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "deviceId" TEXT NOT NULL,
    "value" REAL NOT NULL,
    "isAnomaly" BOOLEAN NOT NULL DEFAULT false,
    "alertLevel" TEXT,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "SensorReading_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "IoTDevice" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Incident" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "incidentNumber" TEXT NOT NULL,
    "idempotencyKey" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'LOW',
    "status" TEXT NOT NULL DEFAULT 'REPORTED',
    "location" TEXT NOT NULL,
    "occurredAt" DATETIME NOT NULL,
    "reportedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" DATETIME,
    "isAutoEscalated" BOOLEAN NOT NULL DEFAULT false,
    "aiAnalysis" TEXT,
    "siteId" TEXT NOT NULL,
    "reporterId" TEXT NOT NULL,
    "assigneeId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Incident_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Incident_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Incident_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES "User" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "IncidentAction" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "incidentId" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "dueDate" DATETIME,
    "completedAt" DATETIME,
    "isAutoGenerated" BOOLEAN NOT NULL DEFAULT false,
    CONSTRAINT "IncidentAction_incidentId_fkey" FOREIGN KEY ("incidentId") REFERENCES "Incident" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Observation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "recordNumber" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "location" TEXT NOT NULL,
    "findings" TEXT NOT NULL,
    "unsafeDetail" TEXT,
    "reviewerComment" TEXT,
    "contractor" TEXT,
    "observedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "siteId" TEXT NOT NULL,
    "reportedById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Observation_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Observation_reportedById_fkey" FOREIGN KEY ("reportedById") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "RiskAssessment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "hazardDescription" TEXT NOT NULL,
    "riskBefore" TEXT NOT NULL,
    "controlsSuggested" TEXT NOT NULL,
    "riskAfter" TEXT NOT NULL,
    "aiSuggested" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "permitId" TEXT,
    "siteId" TEXT NOT NULL,
    "conductedById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "RiskAssessment_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "RiskAssessment_conductedById_fkey" FOREIGN KEY ("conductedById") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "RiskAssessment_permitId_fkey" FOREIGN KEY ("permitId") REFERENCES "Permit" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Investigation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "incidentId" TEXT NOT NULL,
    "rootCause" TEXT,
    "summary" TEXT,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "hasAIEvidence" BOOLEAN NOT NULL DEFAULT false,
    "leadInvestigatorId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Investigation_incidentId_fkey" FOREIGN KEY ("incidentId") REFERENCES "Incident" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Investigation_leadInvestigatorId_fkey" FOREIGN KEY ("leadInvestigatorId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "ComplianceItem" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "regulationRef" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "dueDate" DATETIME NOT NULL,
    "isAutoEscalated" BOOLEAN NOT NULL DEFAULT false,
    "triggersLockdown" BOOLEAN NOT NULL DEFAULT false,
    "siteId" TEXT NOT NULL,
    "responsibleId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "ComplianceItem_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "ComplianceItem_responsibleId_fkey" FOREIGN KEY ("responsibleId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Contractor" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "contactEmail" TEXT NOT NULL,
    "contactPhone" TEXT,
    "safetyRating" REAL NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "isAutoSuspended" BOOLEAN NOT NULL DEFAULT false,
    "contractStart" DATETIME NOT NULL,
    "contractEnd" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Inspection" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'SCHEDULED',
    "fraudDetected" BOOLEAN NOT NULL DEFAULT false,
    "fraudReason" TEXT,
    "conductedAt" DATETIME,
    "notes" TEXT,
    "siteId" TEXT NOT NULL,
    "conductedById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Inspection_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Inspection_conductedById_fkey" FOREIGN KEY ("conductedById") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Document" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "fileUrl" TEXT,
    "version" TEXT NOT NULL DEFAULT '1.0',
    "requiresAcknowledgment" BOOLEAN NOT NULL DEFAULT false,
    "siteId" TEXT,
    "uploadedById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Document_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Document_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "DocumentAcknowledgment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "documentId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "acknowledgedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isAccessBlocked" BOOLEAN NOT NULL DEFAULT false,
    CONSTRAINT "DocumentAcknowledgment_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "Document" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Training" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "validityDays" INTEGER NOT NULL DEFAULT 365,
    "isMandatory" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "TrainingEnrollment" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "trainingId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ENROLLED',
    "completedAt" DATETIME,
    "expiresAt" DATETIME,
    "autoEnrolled" BOOLEAN NOT NULL DEFAULT false,
    CONSTRAINT "TrainingEnrollment_trainingId_fkey" FOREIGN KEY ("trainingId") REFERENCES "Training" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "TrainingEnrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Rule" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "description" TEXT,
    "severity" TEXT NOT NULL DEFAULT 'MEDIUM',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "conditions" TEXT NOT NULL,
    "actions" TEXT NOT NULL,
    "requiresApproval" BOOLEAN NOT NULL DEFAULT false,
    "triggerCount" INTEGER NOT NULL DEFAULT 0,
    "lastTriggeredAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "AutonomousAction" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "ruleId" TEXT,
    "actionType" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "description" TEXT NOT NULL,
    "metadata" TEXT,
    "approvedById" TEXT,
    "approvedAt" DATETIME,
    "executedAt" DATETIME,
    "rejectionReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AutonomousAction_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "Rule" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AIInsight" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "insightType" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "confidence" REAL NOT NULL DEFAULT 0.5,
    "metadata" TEXT,
    "isActioned" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Alert" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "channels" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "isAutonomous" BOOLEAN NOT NULL DEFAULT false,
    "acknowledgedAt" DATETIME,
    "siteId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "Alert_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "EmergencyEvent" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'MEDIUM',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "evacuationTriggered" BOOLEAN NOT NULL DEFAULT false,
    "droneDispatched" BOOLEAN NOT NULL DEFAULT false,
    "startedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" DATETIME,
    "siteId" TEXT NOT NULL,
    "commandedById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "EmergencyEvent_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "EmergencyEvent_commandedById_fkey" FOREIGN KEY ("commandedById") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "WeatherReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "temperature" REAL NOT NULL,
    "humidity" REAL NOT NULL,
    "windSpeed" REAL NOT NULL,
    "windDirection" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "aqi" INTEGER NOT NULL,
    "alertTriggered" BOOLEAN NOT NULL DEFAULT false,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "siteId" TEXT NOT NULL,
    CONSTRAINT "WeatherReading_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "EmissionReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "co2Level" REAL NOT NULL,
    "noiseLevel" REAL NOT NULL,
    "wasteGenerated" REAL NOT NULL,
    "waterUsage" REAL NOT NULL,
    "bmsAdjusted" BOOLEAN NOT NULL DEFAULT false,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "siteId" TEXT NOT NULL,
    CONSTRAINT "EmissionReading_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "FieldDevice" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "ipAddress" TEXT,
    "port" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'OFFLINE',
    "batteryPercent" INTEGER,
    "lastSeenAt" DATETIME,
    "modelClasses" JSONB,
    "modelVersion" TEXT,
    "detectionsCount" INTEGER NOT NULL DEFAULT 0,
    "alertsCount" INTEGER NOT NULL DEFAULT 0,
    "siteId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "FieldDevice_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES "Site" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "VisionDetection" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "deviceId" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "confidence" REAL NOT NULL,
    "status" TEXT NOT NULL,
    "allScores" JSONB,
    "imageUrl" TEXT,
    "aiAnalyzed" BOOLEAN NOT NULL DEFAULT false,
    "aiSeverity" TEXT,
    "aiReasoning" TEXT,
    "aiActions" JSONB,
    "alertId" TEXT,
    "detectedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "VisionDetection_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "FieldDevice" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "DeviceTelemetry" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "deviceId" TEXT NOT NULL,
    "gasLevel" REAL,
    "temperature" REAL,
    "pressure" REAL,
    "acceleration" REAL,
    "voltage" REAL,
    "currentMa" REAL,
    "alertActive" BOOLEAN NOT NULL DEFAULT false,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "DeviceTelemetry_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "FieldDevice" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "AIDecision" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "modelUsed" TEXT NOT NULL,
    "inputData" JSONB NOT NULL,
    "outputData" JSONB NOT NULL,
    "reasoning" TEXT,
    "confidence" REAL,
    "tokensInput" INTEGER,
    "tokensOutput" INTEGER,
    "durationMs" INTEGER,
    "autonomous" BOOLEAN NOT NULL DEFAULT false,
    "requiresHuman" BOOLEAN NOT NULL DEFAULT false,
    "visionDetectionId" TEXT,
    "telemetryId" TEXT,
    "alertId" TEXT,
    "incidentId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Pipeline" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameAr" TEXT,
    "length" REAL NOT NULL,
    "diameter" REAL NOT NULL,
    "material" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPERATIONAL',
    "productType" TEXT NOT NULL,
    "pressureMin" REAL NOT NULL,
    "pressureMax" REAL NOT NULL,
    "flowRate" REAL,
    "startSiteId" TEXT,
    "endSiteId" TEXT,
    "startLat" REAL NOT NULL,
    "startLng" REAL NOT NULL,
    "endLat" REAL NOT NULL,
    "endLng" REAL NOT NULL,
    "midPoints" TEXT,
    "installedAt" DATETIME NOT NULL,
    "lastInspection" DATETIME,
    "notes" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "PressurePoint" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "pipelineId" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "positionKm" REAL NOT NULL,
    "expectedMin" REAL NOT NULL,
    "expectedMax" REAL NOT NULL,
    "currentPressure" REAL,
    "currentFlow" REAL,
    "currentTemp" REAL,
    "status" TEXT NOT NULL DEFAULT 'NORMAL',
    "lastReadingAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "PressurePoint_pipelineId_fkey" FOREIGN KEY ("pipelineId") REFERENCES "Pipeline" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "PressureReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "pointId" TEXT NOT NULL,
    "pressure" REAL NOT NULL,
    "flowRate" REAL,
    "temperature" REAL,
    "status" TEXT NOT NULL DEFAULT 'NORMAL',
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "PressureReading_pointId_fkey" FOREIGN KEY ("pointId") REFERENCES "PressurePoint" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "LoginAttempt" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "success" BOOLEAN NOT NULL,
    "failReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "AccountLockout" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "failCount" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" DATETIME,
    "lastFailAt" DATETIME,
    "updatedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "BrainMemory" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "category" TEXT NOT NULL,
    "subject" TEXT,
    "content" TEXT NOT NULL,
    "contentAr" TEXT,
    "evidence" TEXT,
    "confidence" REAL NOT NULL DEFAULT 0.5,
    "reinforcements" INTEGER NOT NULL DEFAULT 0,
    "contradictions" INTEGER NOT NULL DEFAULT 0,
    "tags" TEXT,
    "embedding" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "lastUsedAt" DATETIME,
    "usedCount" INTEGER NOT NULL DEFAULT 0,
    "createdById" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "BrainSession" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "trigger" TEXT NOT NULL,
    "signalType" TEXT,
    "signalId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'THINKING',
    "context" TEXT NOT NULL,
    "agentsConsulted" TEXT,
    "conclusion" TEXT,
    "conclusionAr" TEXT,
    "confidence" REAL,
    "actionsRecommended" TEXT,
    "actionsTaken" TEXT,
    "recalledMemoryIds" TEXT,
    "requiresApproval" BOOLEAN NOT NULL DEFAULT false,
    "reviewedById" TEXT,
    "reviewedAt" DATETIME,
    "userId" TEXT,
    "siteId" TEXT,
    "startedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" DATETIME,
    "durationMs" INTEGER,
    "totalTokens" INTEGER NOT NULL DEFAULT 0,
    "totalCostMicroUsd" INTEGER NOT NULL DEFAULT 0
);

-- CreateTable
CREATE TABLE "BrainAgentRun" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "sessionId" TEXT NOT NULL,
    "agentName" TEXT NOT NULL,
    "input" TEXT NOT NULL,
    "output" TEXT,
    "confidence" REAL,
    "durationMs" INTEGER,
    "tokensUsed" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'RUNNING',
    "errorMessage" TEXT,
    "memoryId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "BrainAgentRun_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "BrainSession" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "BrainAgentRun_memoryId_fkey" FOREIGN KEY ("memoryId") REFERENCES "BrainMemory" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "KnowledgeContribution" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "source" TEXT NOT NULL,
    "rawContent" TEXT NOT NULL,
    "structuredContent" TEXT,
    "severity" TEXT NOT NULL DEFAULT 'MEDIUM',
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "contextType" TEXT,
    "contextId" TEXT,
    "contributorId" TEXT NOT NULL,
    "reviewedById" TEXT,
    "reviewedAt" DATETIME,
    "reviewerNotes" TEXT,
    "resultingMemoryIds" TEXT,
    "fileUrl" TEXT,
    "fileName" TEXT,
    "fileSize" INTEGER,
    "transcript" TEXT,
    "language" TEXT,
    "autoEscalatedTo" TEXT,
    "expiresAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "KnowledgeReview" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "contributionId" TEXT NOT NULL,
    "reviewerId" TEXT NOT NULL,
    "verdict" TEXT NOT NULL,
    "comment" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "KnowledgeReview_contributionId_fkey" FOREIGN KEY ("contributionId") REFERENCES "KnowledgeContribution" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "MemoryConflict" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "newContributionId" TEXT NOT NULL,
    "existingMemoryId" TEXT NOT NULL,
    "similarity" REAL NOT NULL,
    "reason" TEXT NOT NULL,
    "resolution" TEXT,
    "resolvedById" TEXT,
    "resolvedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "ExpertProfile" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "contributionsCount" INTEGER NOT NULL DEFAULT 0,
    "acceptedCount" INTEGER NOT NULL DEFAULT 0,
    "rejectedCount" INTEGER NOT NULL DEFAULT 0,
    "trustWeight" REAL NOT NULL DEFAULT 0.5,
    "specialties" TEXT,
    "lastActiveAt" DATETIME,
    "updatedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "AISuggestion" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "subjectType" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "proposedAction" TEXT NOT NULL,
    "severity" TEXT,
    "confidence" REAL NOT NULL,
    "reasoning" TEXT,
    "reasoningAr" TEXT,
    "aiAnalysis" TEXT NOT NULL,
    "metadata" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "reviewedById" TEXT,
    "reviewedAt" DATETIME,
    "reviewerNotes" TEXT,
    "resultRefs" TEXT,
    "expiresAt" DATETIME,
    "siteId" TEXT,
    "decisionId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "AutonomySettings" (
    "id" TEXT NOT NULL PRIMARY KEY DEFAULT 'singleton',
    "globalEnabled" BOOLEAN NOT NULL DEFAULT true,
    "pipelineLoopEnabled" BOOLEAN NOT NULL DEFAULT true,
    "forecastEnabled" BOOLEAN NOT NULL DEFAULT true,
    "voiceActionsEnabled" BOOLEAN NOT NULL DEFAULT true,
    "permitAutoApproval" BOOLEAN NOT NULL DEFAULT false,
    "visionAutoActions" BOOLEAN NOT NULL DEFAULT true,
    "demoMode" BOOLEAN NOT NULL DEFAULT false,
    "pipelinePollSeconds" INTEGER NOT NULL DEFAULT 30,
    "dailyBudgetUsd" REAL NOT NULL DEFAULT 50.0,
    "monthlyBudgetUsd" REAL NOT NULL DEFAULT 1000.0,
    "maxCallsPerMinute" INTEGER NOT NULL DEFAULT 20,
    "maxCallsPerHour" INTEGER NOT NULL DEFAULT 200,
    "lastModifiedById" TEXT,
    "lastModifiedAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "VoiceMessage" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "transcript" TEXT,
    "content" TEXT NOT NULL,
    "language" TEXT,
    "intent" TEXT,
    "action" TEXT,
    "target" TEXT,
    "metadata" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "UserSiteAccess" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "siteId" TEXT NOT NULL,
    "accessLevel" TEXT NOT NULL DEFAULT 'READ',
    "validFrom" DATETIME,
    "validUntil" DATETIME,
    "shiftStartHour" INTEGER,
    "shiftEndHour" INTEGER,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "WorkerWellnessReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "deviceId" TEXT,
    "heartRate" INTEGER,
    "hrVariability" REAL,
    "bodyTemperature" REAL,
    "ambientTemp" REAL,
    "humidity" REAL,
    "h2sExposurePpmMin" REAL NOT NULL DEFAULT 0,
    "coExposurePpmMin" REAL NOT NULL DEFAULT 0,
    "o2Level" REAL,
    "stepsCount" INTEGER NOT NULL DEFAULT 0,
    "fallDetected" BOOLEAN NOT NULL DEFAULT false,
    "wellnessLevel" TEXT NOT NULL DEFAULT 'LOW',
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "WorkerWellnessAlert" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "alertType" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'MEDIUM',
    "message" TEXT NOT NULL,
    "messageAr" TEXT,
    "aiReasoning" TEXT,
    "recommendedAction" TEXT,
    "acknowledged" BOOLEAN NOT NULL DEFAULT false,
    "acknowledgedAt" DATETIME,
    "resolvedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'INFO',
    "title" TEXT NOT NULL,
    "titleAr" TEXT,
    "body" TEXT NOT NULL,
    "bodyAr" TEXT,
    "link" TEXT,
    "metadata" TEXT,
    "readAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "AICostLedger" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "provider" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "feature" TEXT,
    "inputTokens" INTEGER NOT NULL,
    "outputTokens" INTEGER NOT NULL,
    "costMicroUsd" INTEGER NOT NULL,
    "durationMs" INTEGER,
    "userId" TEXT,
    "autonomous" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "VehicleReading" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "deviceCode" TEXT NOT NULL DEFAULT 'VEH-001',
    "siteCode" TEXT,
    "eventType" TEXT NOT NULL DEFAULT 'NORMAL',
    "gasVal" INTEGER NOT NULL DEFAULT 0,
    "temperature" REAL NOT NULL DEFAULT 0,
    "pressure" REAL NOT NULL DEFAULT 0,
    "acceleration" REAL NOT NULL DEFAULT 0,
    "voltage" REAL NOT NULL DEFAULT 0,
    "currentMa" REAL NOT NULL DEFAULT 0,
    "powerMw" REAL NOT NULL DEFAULT 0,
    "uptimeS" INTEGER NOT NULL DEFAULT 0,
    "recordedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateTable
CREATE TABLE "LeakAlert" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "alertNumber" TEXT NOT NULL,
    "idempotencyKey" TEXT,
    "pipelineId" TEXT NOT NULL,
    "detectedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "severity" TEXT NOT NULL,
    "estimatedKmFromStart" REAL NOT NULL,
    "estimatedLat" REAL,
    "estimatedLng" REAL,
    "confidence" REAL NOT NULL,
    "pressureDrop" REAL NOT NULL,
    "affectedPoints" TEXT,
    "aiAnalysis" TEXT,
    "aiSummary" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "resolvedAt" DATETIME,
    "resolvedBy" TEXT,
    "resolution" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "LeakAlert_pipelineId_fkey" FOREIGN KEY ("pipelineId") REFERENCES "Pipeline" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE INDEX "AuditLog_module_createdAt_idx" ON "AuditLog"("module", "createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_isAutonomous_idx" ON "AuditLog"("isAutonomous");

-- CreateIndex
CREATE UNIQUE INDEX "Site_code_key" ON "Site"("code");

-- CreateIndex
CREATE INDEX "Site_status_idx" ON "Site"("status");

-- CreateIndex
CREATE INDEX "Site_riskLevel_idx" ON "Site"("riskLevel");

-- CreateIndex
CREATE UNIQUE INDEX "Permit_permitNumber_key" ON "Permit"("permitNumber");

-- CreateIndex
CREATE INDEX "Permit_status_idx" ON "Permit"("status");

-- CreateIndex
CREATE INDEX "Permit_type_idx" ON "Permit"("type");

-- CreateIndex
CREATE INDEX "Permit_contractorId_idx" ON "Permit"("contractorId");

-- CreateIndex
CREATE INDEX "Task_status_priority_idx" ON "Task"("status", "priority");

-- CreateIndex
CREATE UNIQUE INDEX "IoTDevice_code_key" ON "IoTDevice"("code");

-- CreateIndex
CREATE INDEX "IoTDevice_type_status_idx" ON "IoTDevice"("type", "status");

-- CreateIndex
CREATE INDEX "SensorReading_deviceId_recordedAt_idx" ON "SensorReading"("deviceId", "recordedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Incident_incidentNumber_key" ON "Incident"("incidentNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Incident_idempotencyKey_key" ON "Incident"("idempotencyKey");

-- CreateIndex
CREATE INDEX "Incident_status_severity_idx" ON "Incident"("status", "severity");

-- CreateIndex
CREATE UNIQUE INDEX "Observation_recordNumber_key" ON "Observation"("recordNumber");

-- CreateIndex
CREATE INDEX "Observation_type_status_idx" ON "Observation"("type", "status");

-- CreateIndex
CREATE INDEX "RiskAssessment_type_status_idx" ON "RiskAssessment"("type", "status");

-- CreateIndex
CREATE UNIQUE INDEX "Investigation_incidentId_key" ON "Investigation"("incidentId");

-- CreateIndex
CREATE INDEX "ComplianceItem_status_dueDate_idx" ON "ComplianceItem"("status", "dueDate");

-- CreateIndex
CREATE INDEX "Contractor_status_idx" ON "Contractor"("status");

-- CreateIndex
CREATE INDEX "Inspection_status_idx" ON "Inspection"("status");

-- CreateIndex
CREATE UNIQUE INDEX "DocumentAcknowledgment_documentId_userId_key" ON "DocumentAcknowledgment"("documentId", "userId");

-- CreateIndex
CREATE INDEX "TrainingEnrollment_status_expiresAt_idx" ON "TrainingEnrollment"("status", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "TrainingEnrollment_trainingId_userId_key" ON "TrainingEnrollment"("trainingId", "userId");

-- CreateIndex
CREATE INDEX "Rule_module_isActive_idx" ON "Rule"("module", "isActive");

-- CreateIndex
CREATE INDEX "AutonomousAction_status_createdAt_idx" ON "AutonomousAction"("status", "createdAt");

-- CreateIndex
CREATE INDEX "AIInsight_module_createdAt_idx" ON "AIInsight"("module", "createdAt");

-- CreateIndex
CREATE INDEX "Alert_type_createdAt_idx" ON "Alert"("type", "createdAt");

-- CreateIndex
CREATE INDEX "EmergencyEvent_status_severity_idx" ON "EmergencyEvent"("status", "severity");

-- CreateIndex
CREATE INDEX "WeatherReading_siteId_recordedAt_idx" ON "WeatherReading"("siteId", "recordedAt");

-- CreateIndex
CREATE INDEX "EmissionReading_siteId_recordedAt_idx" ON "EmissionReading"("siteId", "recordedAt");

-- CreateIndex
CREATE UNIQUE INDEX "FieldDevice_code_key" ON "FieldDevice"("code");

-- CreateIndex
CREATE INDEX "FieldDevice_type_status_idx" ON "FieldDevice"("type", "status");

-- CreateIndex
CREATE INDEX "FieldDevice_siteId_idx" ON "FieldDevice"("siteId");

-- CreateIndex
CREATE INDEX "VisionDetection_deviceId_detectedAt_idx" ON "VisionDetection"("deviceId", "detectedAt");

-- CreateIndex
CREATE INDEX "VisionDetection_status_aiAnalyzed_idx" ON "VisionDetection"("status", "aiAnalyzed");

-- CreateIndex
CREATE INDEX "DeviceTelemetry_deviceId_recordedAt_idx" ON "DeviceTelemetry"("deviceId", "recordedAt");

-- CreateIndex
CREATE INDEX "AIDecision_type_createdAt_idx" ON "AIDecision"("type", "createdAt");

-- CreateIndex
CREATE INDEX "AIDecision_provider_idx" ON "AIDecision"("provider");

-- CreateIndex
CREATE UNIQUE INDEX "Pipeline_code_key" ON "Pipeline"("code");

-- CreateIndex
CREATE UNIQUE INDEX "PressurePoint_code_key" ON "PressurePoint"("code");

-- CreateIndex
CREATE INDEX "PressureReading_pointId_recordedAt_idx" ON "PressureReading"("pointId", "recordedAt");

-- CreateIndex
CREATE INDEX "LoginAttempt_email_createdAt_idx" ON "LoginAttempt"("email", "createdAt");

-- CreateIndex
CREATE INDEX "LoginAttempt_ipAddress_createdAt_idx" ON "LoginAttempt"("ipAddress", "createdAt");

-- CreateIndex
CREATE INDEX "LoginAttempt_success_createdAt_idx" ON "LoginAttempt"("success", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "AccountLockout_email_key" ON "AccountLockout"("email");

-- CreateIndex
CREATE INDEX "AccountLockout_lockedUntil_idx" ON "AccountLockout"("lockedUntil");

-- CreateIndex
CREATE INDEX "BrainMemory_category_status_idx" ON "BrainMemory"("category", "status");

-- CreateIndex
CREATE INDEX "BrainMemory_subject_idx" ON "BrainMemory"("subject");

-- CreateIndex
CREATE INDEX "BrainMemory_confidence_idx" ON "BrainMemory"("confidence");

-- CreateIndex
CREATE INDEX "BrainSession_trigger_startedAt_idx" ON "BrainSession"("trigger", "startedAt");

-- CreateIndex
CREATE INDEX "BrainSession_status_startedAt_idx" ON "BrainSession"("status", "startedAt");

-- CreateIndex
CREATE INDEX "BrainSession_signalId_idx" ON "BrainSession"("signalId");

-- CreateIndex
CREATE INDEX "BrainSession_siteId_startedAt_idx" ON "BrainSession"("siteId", "startedAt");

-- CreateIndex
CREATE INDEX "BrainAgentRun_sessionId_idx" ON "BrainAgentRun"("sessionId");

-- CreateIndex
CREATE INDEX "BrainAgentRun_agentName_idx" ON "BrainAgentRun"("agentName");

-- CreateIndex
CREATE INDEX "KnowledgeContribution_status_createdAt_idx" ON "KnowledgeContribution"("status", "createdAt");

-- CreateIndex
CREATE INDEX "KnowledgeContribution_source_status_idx" ON "KnowledgeContribution"("source", "status");

-- CreateIndex
CREATE INDEX "KnowledgeContribution_contributorId_idx" ON "KnowledgeContribution"("contributorId");

-- CreateIndex
CREATE INDEX "KnowledgeContribution_severity_status_idx" ON "KnowledgeContribution"("severity", "status");

-- CreateIndex
CREATE INDEX "KnowledgeReview_contributionId_idx" ON "KnowledgeReview"("contributionId");

-- CreateIndex
CREATE INDEX "MemoryConflict_newContributionId_idx" ON "MemoryConflict"("newContributionId");

-- CreateIndex
CREATE INDEX "MemoryConflict_resolution_createdAt_idx" ON "MemoryConflict"("resolution", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "ExpertProfile_userId_key" ON "ExpertProfile"("userId");

-- CreateIndex
CREATE INDEX "ExpertProfile_trustWeight_idx" ON "ExpertProfile"("trustWeight");

-- CreateIndex
CREATE INDEX "AISuggestion_status_createdAt_idx" ON "AISuggestion"("status", "createdAt");

-- CreateIndex
CREATE INDEX "AISuggestion_type_status_idx" ON "AISuggestion"("type", "status");

-- CreateIndex
CREATE INDEX "AISuggestion_siteId_idx" ON "AISuggestion"("siteId");

-- CreateIndex
CREATE INDEX "VoiceMessage_userId_sessionId_createdAt_idx" ON "VoiceMessage"("userId", "sessionId", "createdAt");

-- CreateIndex
CREATE INDEX "VoiceMessage_sessionId_idx" ON "VoiceMessage"("sessionId");

-- CreateIndex
CREATE INDEX "UserSiteAccess_userId_idx" ON "UserSiteAccess"("userId");

-- CreateIndex
CREATE INDEX "UserSiteAccess_siteId_idx" ON "UserSiteAccess"("siteId");

-- CreateIndex
CREATE UNIQUE INDEX "UserSiteAccess_userId_siteId_key" ON "UserSiteAccess"("userId", "siteId");

-- CreateIndex
CREATE INDEX "WorkerWellnessReading_userId_recordedAt_idx" ON "WorkerWellnessReading"("userId", "recordedAt");

-- CreateIndex
CREATE INDEX "WorkerWellnessReading_wellnessLevel_recordedAt_idx" ON "WorkerWellnessReading"("wellnessLevel", "recordedAt");

-- CreateIndex
CREATE INDEX "WorkerWellnessAlert_userId_createdAt_idx" ON "WorkerWellnessAlert"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "WorkerWellnessAlert_severity_acknowledged_idx" ON "WorkerWellnessAlert"("severity", "acknowledged");

-- CreateIndex
CREATE INDEX "Notification_userId_readAt_createdAt_idx" ON "Notification"("userId", "readAt", "createdAt");

-- CreateIndex
CREATE INDEX "Notification_userId_type_idx" ON "Notification"("userId", "type");

-- CreateIndex
CREATE INDEX "AICostLedger_module_createdAt_idx" ON "AICostLedger"("module", "createdAt");

-- CreateIndex
CREATE INDEX "AICostLedger_createdAt_idx" ON "AICostLedger"("createdAt");

-- CreateIndex
CREATE INDEX "AICostLedger_provider_model_idx" ON "AICostLedger"("provider", "model");

-- CreateIndex
CREATE INDEX "VehicleReading_deviceCode_recordedAt_idx" ON "VehicleReading"("deviceCode", "recordedAt");

-- CreateIndex
CREATE INDEX "VehicleReading_eventType_recordedAt_idx" ON "VehicleReading"("eventType", "recordedAt");

-- CreateIndex
CREATE UNIQUE INDEX "LeakAlert_alertNumber_key" ON "LeakAlert"("alertNumber");

-- CreateIndex
CREATE UNIQUE INDEX "LeakAlert_idempotencyKey_key" ON "LeakAlert"("idempotencyKey");

